body{

    display: flex;
    height: 75vh;
}

div{
    text-align: center;
    width: 45%;
    font-size: 20px;
    border: 1px solid black;
   
}

.seleção{

    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 50px;
   
    padding: 25px;
}

#robo{

    width: 70px;
    height: 70px;
    display: inline;
   

}


.seleção:hover{


        background-color: darkgrey;

}

#placar{

    display: flex;
    height: 100%;
    justify-content: center;
   



}
button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

#reiniciar-jogo{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}