div{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.seleção{

    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 50px;
    border: 1px solid ;
    padding: 25px;
}

#robo{

    width: 70px;
    height: 70px;
    display: inline;
   

}
#computador{
    display: inline;
}

.seleção:hover{


        background-color: darkgrey;

}